<DOCTYPE! html>
    <html ng-app="weatherApp">

    <head>
        <title>Weather App</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
        
    </head>

    <body ng-controller="weatherController as weathers">
        <div id="nav" class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="jumbotron">
                        <h1>Origin Weather Application</h1>
                        <p>Always know if you'll need an umbrella!</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="btn-group" role="group" aria-label="...">
                        <button ng-click="weathers.inputResults('San Diego')" type="button" class="btn btn-primary">San Diego</button>
                        <button ng-click="weathers.inputResults('New York')" type="button" class="btn btn-primary">New York</button>
                        <button ng-click="weathers.inputResults('Washington D.C.')" type="button" class="btn btn-primary">Washington D.C.</button>
                        <button ng-click="weathers.inputResults('London')" type="button" class="btn btn-primary">London</button>
                        <button ng-click="weathers.inputResults('Tokyo')" type="button" class="btn btn-primary">Tokyo</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="input-group">
                        <input ng-model="weathers.searchInput.name" type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                    <button ng-click="weathers.inputResults(weathers.searchInput.name)" class="btn btn-default" type="button">Go!</button>
                </span>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel panel-success">
                                <div class="panel-heading   ">City Information</div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <h2><img ng-src="http://openweathermap.org/img/w/{{weathers.place.weather[0].icon}}.png" />{{weathers.place.name}}</h2>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <p><strong>Lat/Long:</strong> {{weathers.place.coord.lat}}, {{weathers.place.coord.lon}}</p>
                                        </div>
                                    </div><hr>
                                    <div class="row">
                                        <div class="col-md-4 text-center">
                                        <strong>
                                            <p>Temperature (F)</p>
                                            <p class="text-success">{{weathers.place.main.temp}}F</p>
                                        </div>
                                        <div class="col-md-4 text-center">
                                            <p>Pressure</p>
                                            <p class="text-success">{{weathers.place.main.pressure}}</p>
                                        </div>
                                        <div class="col-md-4 text-center">
                                            <p>Humidity</p>
                                            <p class="text-success">{{weathers.place.main.humidity}}%</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 text-center">
                                            <p>Lowest Temp (F)</p>
                                            <p class="text-success">{{weathers.place.main.temp_min}}</p>
                                        </div>
                                        <div class="col-md-4 text-center">
                                            <p>Highest Temp (F)</p>
                                            <p class="text-success">{{weathers.place.main.temp_max}}</p>
                                        </div>
                                        <div class="col-md-4 text-center">
                                            <p>Wind Speed</p>
                                            <p class="text-success">{{weathers.place.wind.speed}}</p>
                                            </strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel panel-success">
                                <div class="panel-heading">Search History</div>
                                <div class="panel-body">
                                    <table class="table">
                                        <tr ng-repeat="item in weathers.searchResults">
                                            <td class="col-md-10 text-capitalize">{{item.name}}</td>
                                            <td class="col-md-2">{{item.date | date : "shortDate"}}
                                                <br> {{item.date | date: "shortTime"}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="bower_components/angular/angular.js"></script>
        <script src="app/app.js"></script>
        <script src="app/weather/controller.js"></script>
        <script src="app/weather/factory.js"></script>
    </body>

    </html>
